<div class="card box-shadow-sm mt-6">

  <div class="card-header d-flex flex-wrap justify-content-md-between justify-content-center">
    <h2 class="mb-0 text-center">Actualizar Producto</h2>
    <a class="btn btn-warning btn-xs ml-2" routerLink="/dashboard/productos">
      <i class="cxi-arrow-back mr-1"></i> Regresar
    </a>
  </div>

  <form [formGroup]="updateForm" (ngSubmit)="update()">
    <div *ngIf="load_data" class="card-body">
      <div class="col-12 text-center">
        <ngx-skeleton-loader count="4" appearance="line" [theme]="{ height: '50px' }"></ngx-skeleton-loader>
      </div>
    </div>
    <div *ngIf="!load_data" class="card-body">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-12 form-group">
              <label for="">Titulo de Producto <span class="text-danger">*</span></label>
              <input
                [ngClass]="{ 'is-invalid': validate('title', true), 'is-valid': validate('title', false) }"
                class="form-control"
                type="text"
                placeholder="Titulo de producto"
                formControlName="title"
              />
            </div>
            <div class="col-lg-4 form-group">
              <label for="">Stock <span class="text-danger">*</span></label>
              <input
                [ngClass]="{ 'is-invalid': validate('stock', true), 'is-valid': validate('stock', false) }"
                class="form-control"
                type="number"
                placeholder="Cantidad inicial"
                formControlName="stock"
              />
            </div>
            <div class="col-lg-4 form-group">
              <label for="">Precio <span class="text-danger">*</span></label>
              <input
                [ngClass]="{ 'is-invalid': validate('price', true), 'is-valid': validate('price', false) }"
                class="form-control"
                type="number"
                placeholder="Precio"
                formControlName="price"
              />
            </div>
            <div class="col-lg-4 form-group">
              <label for="">Categoría <span class="text-danger">*</span></label>
              <select
                [ngClass]="{ 'is-invalid': validate('category', true), 'is-valid': validate('category', false) }"
                class="form-control custom-select"
                id="select-input"
                formControlName="category"
              >
                <option value="" selected disabled>Seleccionar</option>
                <option *ngFor="let item of categories" [value]="item.title">
                  {{ item.title }}
                </option>
              </select>
            </div>
            <div class="col-lg-12 form-group">
              <label for="">Descripción corta <span class="text-danger">*</span></label>
              <textarea
                [ngClass]="{ 'is-invalid': validate('description', true), 'is-valid': validate('description', false) }"
                class="form-control"
                placeholder="Titulo de producto"
                rows="5"
                formControlName="description"
              ></textarea>
            </div>
            <div class="col-lg-12 form-group">
              <tinymce
                [config]="config"
                formControlName="container"
              ></tinymce>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12 form-group">
              <label for="">Portada <span class="text-danger">*</span></label>
              <div class="custom-file">
                <input
                  [ngClass]="{ 'is-valid': this.file }"
                  class="custom-file-input"
                  type="file"
                  id="file-input"
                  (change)="fileChanged($event)"
                />
                <label
                  class="custom-file-label"
                  id="input-portada"
                  for="file-input"
                  style="white-space: nowrap; overflow: hidden"
                >
                  Seleccionar imagen
                </label>
              </div>
            </div>
            <div class="col-lg-12">
              <img
                [src]="imgSelected"
                class="img-thumbnail"
                alt="Rounded image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button *ngIf="!load_btn" [ngClass]="{'btn-secondary':updateForm.invalid, 'btn-primary': updateForm.valid }" class="btn" type="submit">
        Actualizar Producto
      </button>
      <button *ngIf="load_btn" type="button" class="btn btn-primary" disabled>
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
        Cargando...
      </button>
    </div>
  </form>
</div>
