<div class="card box-shadow-sm mt-6">
  <div class="card-header d-flex flex-wrap justify-content-md-between justify-content-center">
    <h2 class="mb-0 text-center">Registrar Clientes</h2>
    <a class="btn btn-warning btn-xs ml-2" routerLink="/dashboard/clientes">
      <i class="cxi-arrow-back mr-1"></i> Regresar
    </a>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 form-group">
          <label class="form-label">Nombres <span class="text-danger">*</span></label>
          <input
            [ngClass]="{ 'is-invalid': fieldsInvalid('first_name'), 'is-valid': fieldsValid('first_name') }"
            class="form-control"
            type="text"
            placeholder="Nombres completos"
            formControlName="first_name"
          />
        </div>
        <div class="col-md-4 form-group">
          <label class="form-label">Apellidos <span class="text-danger">*</span></label>
          <input
            [ngClass]="{ 'is-invalid': fieldsInvalid('last_name'), 'is-valid': fieldsValid('last_name') }"
            class="form-control"
            type="text"
            placeholder="Apellidos completos"
            formControlName="last_name"
          />
        </div>
        <div class="col-md-4 form-group">
          <label class="form-label"> Correo Electrónico <span class="text-danger">*</span></label>
          <input
            [ngClass]="{ 'is-invalid': fieldsInvalid('email'), 'is-valid': fieldsValid('email') }"
            class="form-control"
            type="text"
            placeholder="Email"
            formControlName="email"
          />
        </div>
        <div class="col-md-4 form-group">
          <label class="form-label">DNI <span class="text-danger">*</span></label>
          <input
            [ngClass]="{ 'is-invalid': fieldsInvalid('dni'), 'is-valid': fieldsValid('dni') }"
            class="form-control"
            type="number"
            placeholder="DNI"
            formControlName="dni"
          />
        </div>
        <div class="col-md-4 form-group">
          <label class="form-label">Teléfono <span class="text-danger">*</span></label>
          <input
            [ngClass]="{ 'is-invalid': fieldsInvalid('phone'), 'is-valid': fieldsValid('phone') }"
            class="form-control"
            type="number"
            placeholder="Teléfono"
            formControlName="phone"
          />
        </div>
        <div class="col-md-4">
          <label class="form-label">Género <span class="text-danger">*</span></label>
          <select
            [ngClass]="{ 'is-invalid': fieldsInvalid('gender'), 'is-valid': fieldsValid('gender') }"
            class="form-control custom-select"
            formControlName="gender"
          >
            <option value="" disabled selected>Seleccionar</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
        </div>
        <div class="col-md-4 form-group">
          <label class="form-label"> Fecha Nacimiento</label>
          <input class="form-control" type="date" formControlName="birthday" />
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button *ngIf="!load_btn" [ngClass]="{'btn-secondary':registerForm.invalid, 'btn-primary': registerForm.valid }" class="btn" type="submit">
        Registrar Cliente
      </button>
      <button *ngIf="load_btn" class="btn btn-primary" type="button" disabled>
        <span
          class="spinner-border spinner-border-sm me-2"
          role="status"
          aria-hidden="true"
        ></span>
        Cargando...
      </button>
    </div>
  </form>
</div>
