<div class="card box-shadow-sm mt-6">
   
  <div class="card-header d-flex flex-wrap justify-content-md-between justify-content-center">
    <h2 class="mb-0 text-center">Crear Cupón</h2>
    <a class="btn btn-warning btn-xs ml-2" routerLink="/dashboard/cupones">
      <i class="cxi-arrow-back mr-1"></i> Regresar
    </a>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 col-md-6 form-group">
          <label for="validationCustom01" class="form-label">
             Código de Cupón <span class="text-danger">*</span>
          </label>
          <input
            [ngClass]="{ 'is-invalid': validate('code', true), 'is-valid': validate('code', false) }"
            class="form-control"
            type="text"
            placeholder="Código de Cupón"
            formControlName="code"
          />
        </div>
        <div class="col-lg-3 col-md-6">
          <label for="validationCustom01" class="form-label">Tipo <span class="text-danger">*</span></label>
          <select
            [ngClass]="{ 'is-invalid': validate('type', true), 'is-valid': validate('type', false) }"
            class="form-control custom-select"
            formControlName="type"
          >
            <option value="" disabled selected>Seleccionar</option>
            <option value="Porcentaje">Porcentaje</option>
            <option value="Valor Fijo">Valor Fijo</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-6 form-group">
          <label for="validationCustom01" class="form-label">Valor <span class="text-danger">*</span></label>
          <input
            [ngClass]="{ 'is-invalid': validate('value', true), 'is-valid': validate('value', false) }"
            class="form-control"
            type="number"
            placeholder="Valor de Descuento"
            formControlName="value"
          />
        </div>
        <div class="col-lg-3 col-md-6 form-group">
          <label for="validationCustom01" class="form-label">Límite <span class="text-danger">*</span></label>
          <input
            [ngClass]="{ 'is-invalid': validate('limit', true), 'is-valid': validate('limit', false) }"
            class="form-control"
            type="number"
            placeholder="Límite máximo"
            formControlName="limit"
          />
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button *ngIf="!load_btn" [ngClass]="{'btn-secondary':registerForm.invalid, 'btn-primary': registerForm.valid }" class="btn" type="submit">
        Crear Cupón
      </button>
      <button *ngIf="load_btn" type="button" class="btn btn-primary" disabled>
        <span
          class="spinner-border spinner-border-sm me-2"
          role="status"
          aria-hidden="true"
        ></span>
        Cargando...
      </button>
    </div>
  </form>
</div>
