<app-sidebar></app-sidebar>

<div class="card box-shadow-sm mt-6">
   <div class="card-header d-flex flex-wrap justify-content-md-between justify-content-center">
      <h2 class="mb-0 text-center">Variedad del Producto</h2>
      <a class="btn btn-warning btn-xs ml-2" routerLink="/dashboard/productos">
      <i class="cxi-arrow-back mr-1"></i> Regresar
      </a>
   </div>
   <div class="card-body">
      <div class="row">
         <div class="col-md-9">
            <div class="form-group row align-items-center">
               <label class="col-md-3 col-form-label font-weight-medium">Nombre de la Variedad</label>
               <div class="col-md-9">
                  <input name="name_variety" [(ngModel)]="product.name_variety" type="text" class="form-control" placeholder="Titulo de la variedad" required />
               </div>
            </div>
            <div class="form-group row align-items-center">
               <label class="col-md-3 col-form-label font-weight-medium">Items</label>
               <div class="col-md-9">
                  <div class="input-group">
                     <input name="new_variety" [(ngModel)]="new_variety" class="form-control" type="text" placeholder="Ingrese una variedad">
                     <div class="input-group-append">
                        <button [disabled]="new_variety.length==0" (click)="add_variety()" class="btn btn-primary" type="button">Agregar</button>
                     </div>
                  </div>
               </div>
               <div class="col-md-3"></div>
               <div class="col-md-9">
                  <div class="table-responsive mt-3">
                     <table *ngIf="product.item_variety" class="table table-sm text-center">
                        <thead class="thead-dark">
                           <tr>
                              <th class="w50">Items</th>
                              <th class="w50">Eliminar</th>
                           </tr>
                        </thead>
                        <tbody *ngIf="product.item_variety.length === 0">
                           <tr>
                              <td class="text-warning" colspan="3">
                                 No hay items disponibles.
                              </td>
                           </tr>
                        </tbody>
                        <tbody *ngIf="product.item_variety.length >= 1">
                           <tr *ngFor="let item of product.item_variety; let i = index">
                              <td>{{ item.name }}</td>
                              <td><a (click)="delete_variety(i)" class="text-danger">Eliminar</a></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="card text-center">
               <img style="min-width:230px" [src]="url + '/get_banner/' +product.banner" class="card-img-top" alt="Card image">
               <div class="card-body">
                  <h5 class="card-title">{{product.title}}</h5>
                  <p class="card-text text-muted fs-sm">{{product.description}}</p>
                  <span class="h5 d-inline-block mb-0 text-danger">S/. {{product.price}}</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="card-footer">
      <button *ngIf="!load_btn" (click)="update()" type="button" class="btn btn-primary mr-3">Guardar cambios</button>
      <button *ngIf="load_btn" class="btn btn-primary mr-2" type="button" disabled>
      <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" ></span>
      Guardando...
      </button>
   </div>
</div>