<app-sidebar></app-sidebar>

<div class="card box-shadow-sm mt-6">
  <div class="card-header d-flex flex-wrap justify-content-md-between justify-content-center">
    <h2 class="mb-0 text-center">Galería del Producto</h2>
    <a class="btn btn-warning btn-xs ml-2" routerLink="/dashboard/productos">
    <i class="cxi-arrow-back mr-1"></i> Regresar
    </a>
 </div>
    <div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <div class="form-group row align-items-center">
              <label class="col-md-3 col-form-label font-weight-medium">Nueva Imagen</label>
              <div class="col-md-9">
                <div class="input-group">
                    <input (change)="fileChanged($event)" id="input-img" class="form-control" type="file" >
                    <div class="input-group-append">
                        <ng-container *ngIf="file !== undefined">
                            <button (click)="add_image()" class="btn btn-primary" type="button">Agregar</button>
                            <button *ngIf="load_btn" class="btn btn-primary mr-2" type="button" disabled>
                                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" ></span>
                                Guardando...
                            </button>
                        </ng-container>
                        <ng-container *ngIf="file == undefined">
                            <button disabled class="btn btn-primary" type="button">Agregar</button>
                        </ng-container>
                    </div>
                  </div>
              </div>
     
              <div class="col-md-3"></div>
              <div class="col-md-9">
                <div class="table-responsive mt-3">
                  <table *ngIf="product.galery" class="table table-sm text-center table-bordered">
                    <thead class="thead-dark">
                      <tr>
                        <th class="w50">Items</th>
                        <th class="w50">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="product.galery.length === 0">
                      <tr>
                        <td class="text-warning" colspan="3">
                          No hay imagenes disponibles.
                        </td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="product.galery.length >= 1">
                      <tr *ngFor="let item of product.galery; let i = index">
                        <td>
                          <img style="width: 80px" [src]="url + '/get_banner/' + item.image" >
                        </td>
                        <td><a class="text-danger" data-toggle="modal" [attr.data-target]="'#delete-'+item._id">Eliminar</a></td>
                        <div class="modal fade" id="delete-{{item._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                             <div class="modal-content">
                                <div class="modal-header">
                                   <h4 class="modal-title">Eliminar Imagen</h4>
                                   <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                                </div>
                                <div class="modal-body">
                                   <p>Desea eliminar esta imagen ?</p>
                                </div>
                                <div class="modal-footer">
                                   <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                   <button *ngIf="!load_btn_image" class="btn btn-primary btn-sm" type="button" (click)="delete_data(item._id)">Sí, eliminar!</button>
                                   <button *ngIf="load_btn_image" class="btn btn-primary btn-sm" type="button">Eliminando...</button>
                                </div>
                             </div>
                          </div>
                       </div>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>    
          </div>
          <div class="col-md-3">
            <div class="card text-center">
               <img style="min-width:230px" [src]="url + '/get_banner/' +product.banner" class="card-img-top" alt="Card image">
               <div class="card-body">
                  <h5 class="card-title">{{product.title}}</h5>
                  <p class="card-text text-muted fs-sm">{{product.description}}</p>
                  <span class="h5 d-inline-block mb-0 text-danger">S/. {{product.price}}</span>
               </div>
            </div>
         </div>
        </div>
  
    </div>
  

</div>
