<aside class="cs-offcanvas cs-offcanvas-expand bg-dark" id="componentsNav">
    <div class="cs-offcanvas-cap d-none d-lg-block py-4">
      <a class="navbar-brand py-2" routerLink="/dashboard/inicio">
        <img src="assets/img/components/logo/logo-white.svg" alt="Createx" width="130">
      </a>
      <span class="badge badge-warning">Admin</span>
    </div>
    <div class="cs-offcanvas-cap d-flex d-lg-none">
      <div class="d-flex align-items-center mt-1">
        <h5 class="text-light mb-0 mr-3">Menu</h5>
        <span class="badge badge-warning">Admin</span>
      </div>
      <button class="close text-light" type="button" data-dismiss="offcanvas" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="cs-offcanvas-body px-0 pt-4 pb-grid-gutter" data-simplebar data-simplebar-inverse>
      <h6 class="font-size-lg text-light px-4 mt-2 mb-3">Contenido</h6>
      <hr class="hr-gradient hr-light mb-2 opacity-25">
      <nav class="nav nav-light">
        <a class="nav-link px-4" routerLink="/dashboard/inicio" routerLinkActive="active">Inicio</a>
        <a class="nav-link px-4" routerLink="/dashboard/clientes" routerLinkActive="active">Clientes</a>
        <a class="nav-link px-4" routerLink="/dashboard/productos" routerLinkActive="active">Productos</a>
        <a class="nav-link px-4" routerLink="/dashboard/categorias" routerLinkActive="active">Categorías</a>
        <a class="nav-link px-4" routerLink="/dashboard/ventas" routerLinkActive="active">Ventas</a>
        <a class="nav-link px-4" routerLink="/dashboard/cupones" routerLinkActive="active">Cupones</a>
        <a class="nav-link px-4" routerLink="/dashboard/descuentos" routerLinkActive="active">Descuentos</a>
        <a class="nav-link px-4" routerLink="/dashboard/contacto" routerLinkActive="active">Mensajes</a>
      </nav>
    </div>
</aside>
