<div class="card box-shadow-sm mt-6">

    <div class="card-header d-flex flex-wrap justify-content-md-between justify-content-center">
        <h2 class="mb-0 text-center">Reseñas del Producto {{ product.title }}</h2>
        <div>
            <a class="btn btn-warning btn-xs ml-2" routerLink="/dashboard/productos"> <i class="cxi-arrow-back mr-1"></i> Regresar </a>
        </div>
    </div>
    
    <div class="card-header">
        <div class="row">

        </div>
    </div>
    <div class="card-body">
        <div class="row mb-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card text-center">
                           <img style="min-width:230px" [src]="product.banner | image: 'product'" class="card-img-top" alt="Card image">
                           <div class="card-body">
                              <h5 class="card-title">{{product.title}}</h5>
                              <p class="card-text text-muted fs-sm">{{product.description}}</p>
                              <span class="h5 d-inline-block mb-0 text-danger">S/. {{product.price}}</span>
                           </div>
                        </div>
                    </div>
                    <div *ngIf="reviews.length == 0" class="col-md-8">
                        <span>No hay reseñas en este producto.</span>
                    </div>
                     <div *ngIf="reviews.length >= 1" class="col-md-8">
                        <div  class="row">
                            <div *ngFor="let item of reviews | paginate: { itemsPerPage: 5, currentPage: p }" class="col-12 mb-3">
                              <div class="mb-4 pb-4 border-bottom">
                                <div class="row">
                                  <div class="col-md-3 col-sm-4 mb-sm-0 mb-3">
                                    <h3 class="mb-2 font-size-lg">{{ item.customer.first_name }} {{ item.customer.last_name }}</h3>
                                    <span class="d-block mb-3 font-size-sm text-muted">{{ item.create_at | date }}</span>
                                    <div class="mt-n1 star-rating">
                                      <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.starts >= 1}"></i>
                                      <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.starts >= 2}"></i>
                                      <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.starts >= 3}"></i>
                                      <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.starts >= 4}"></i>
                                      <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.starts >= 5}"></i>
                                    </div>
                                  </div>
                                  <div class="col">
                                    <p class="mb-3">
                                      <a class="mr-1 font-weight-bold text-decoration-none" href="#">@{{ item.customer.email }}</a>
                                      <br />
                                      {{ item.review }}
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>