<div class="card box-shadow-sm mt-6">
   <div class="card-header d-flex flex-wrap justify-content-md-between justify-content-center">
      <h2 class="mb-0 text-center">Configuraciones</h2>
      <a class="btn btn-warning btn-xs ml-2" routerLink="/dashboard/inicio">
      <i class="cxi-arrow-back mr-1"></i> Inicio
      </a>
   </div>
   <form #registerForm="ngForm" (ngSubmit)="update_category(registerForm)">
   <div class="card-body">
      <div class="row">
         <div class="col-md-9">
            <div class="form-group row align-items-center">
               <label class="col-md-3 col-form-label font-weight-medium">
               Nombre de la tienda
               </label>
               <div class="col-md-9">
                  <input
                  class="form-control"
                  type="text"
                  required
                  name="title"
                  [(ngModel)]="config.title"
                  />
               </div>
            </div>
            <div class="form-group row align-items-center">
               <label class="col-md-3 col-form-label font-weight-medium">
               Facturación
               </label>
               <div class="col-md-4">
                  <input
                  class="form-control"
                  type="number"
                  required
                  name="serie"
                  [(ngModel)]="config.serie"
                  />
               </div>
               <div class="col-md-5">
                  <input
                  class="form-control"
                  type="number"
                  required
                  name="correlative"
                  [(ngModel)]="config.correlative"
                  />
               </div>
            </div>
            <div class="form-group row align-items-center">
               <label class="col-md-3 col-form-label font-weight-medium">
               Categorías
               </label>
               <div class="col-md-4">
                  <input name="name" [(ngModel)]="name" class="form-control" type="text" placeholder="Nombre" />
               </div>
               <div class="col-md-5">
                  <input name="icon" [(ngModel)]="icon" class="form-control" type="text" placeholder="Icono" />
               </div>
               <div class="col-md-3"></div>
               <div class="col-md-9">
                  <a (click)="add_category()" class="mb-5">Agregar</a>
                  <div class="table-responsive mt-3">
                     <table *ngIf="config.categories" class="table table-sm text-center">
                        <thead class="thead-dark">
                           <tr>
                              <th>Categoria</th>
                              <th>Icono</th>
                              <th>Eliminar</th>
                           </tr>
                        </thead>
                        <tbody *ngIf="config.categories.length === 0">
                           <tr>
                              <td class="text-center text-warning" colspan="3">
                                 No hay categorias disponibles
                              </td>
                           </tr>
                        </tbody>
                        <tbody *ngIf="config.categories.length >= 1">
                           <tr *ngFor="let item of config.categories; let i = index">
                              <td>{{ item.name }}</td>
                              <td><i [class]="item.icon"></i> {{ item.icon }}</td>
                              <td>
                                 <a (click)="delete_category(i)" class="text-danger"><i class="cxi-delete"></i></a>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div>
               <div class="cs-file-drop-area">
                  <div class="cs-file-drop-preview img-thumbnail rounded">
                     <img style="width: 230px;" [src]="imgSelected" alt="">
                  </div>
                  <span class="cs-file-drop-message">Arrastre una imagen</span>
                  <input (change)="fileChanged($event)" type="file" class="cs-file-drop-input">
                  <button type="button" id="file-input" class="cs-file-drop-btn btn btn-outline-primary btn-sm">Subir imagén</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="card-footer">
      <button type="submit" class="btn btn-primary mr-3">Guardar cambios</button>
   </div>
   </form>
</div>