/* You can add global styles to this file, and also import other style files */
body {
  overflow-y: scroll !important;
}

a {
  cursor: pointer;
}

.w200 {
  width: 200px;
}

.w50 {
  width: 50%;
}

.cs-offcanvas-expand {
  width: 260px !important;
}

.cs-offcanvas-enabled {
  padding-left: 16.5rem;

  @media (max-width: 980px) {
    padding-left: 0rem;
  }
}

.ngx-pagination {
  margin-bottom: 0 !important;
}

.msg-error {
  position: absolute !important;
  bottom: 0 !important;
}
