<div class="card box-shadow-sm mt-6">
   <div class="card-header d-flex flex-wrap justify-content-md-between justify-content-center">
      <h2 class="mb-0 text-center">Cupones</h2>
      <a class="btn btn-info btn-xs ml-2" routerLink="/dashboard/cupones/registro" rel="noopener">
         <i class="cxi-grid mr-2"></i> Registrar
      </a>
   </div>
   <div class="card-header">
      <div class="input-group">
         <input name="word" (keyup)="filter()" [(ngModel)]="word"  class="form-control" type="text" placeholder="Buscar cupón">
      </div>
   </div>
   <div class="card-body">
      <div class="table-responsive text-center">
         <table class="table table-bordered">
            <thead>
               <tr class="thead-dark">
                  <th>#</th>
                  <th>Código</th>
                  <th>Tipo</th>
                  <th>Valor</th>
                  <th>Límite</th>
                  <th class="w200">Opciones</th>
               </tr>
            </thead>
            <tbody *ngIf="this.coupons.length === 0">
               <td class="text-center text-warning" colspan="6">No hay resultados.</td>
            </tbody>
            <tbody *ngIf="load_data" >
               <td class="text-center" colspan="6">
                  <ngx-skeleton-loader count="4" appearance="line" [theme]="{height: '40px'}" ></ngx-skeleton-loader>
               </td>
            </tbody>
            <tbody *ngIf="!load_data">
               <tr *ngFor="let item of coupons | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{item.code}}</td>
                  <td>{{item.type}}</td>
                  <td>{{item.value}}</td>
                  <td>{{item.limit}} restantes</td>
                  <td>
                     <div class="btn-group dropdown">
                        <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opciones
                        </button>
                        <div class="dropdown-menu">
                           <a [routerLink]="['/dashboard/cupones', item._id]" class="dropdown-item">Editar</a>
                           <a class="dropdown-item" style="cursor:pointer;" data-toggle="modal" [attr.data-target]="'#delete-'+item._id">Eliminar</a>
                        </div>
                     </div>
                     <div class="modal fade" id="delete-{{item._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h4 class="modal-title">Eliminar Cupón</h4>
                                 <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                              </div>
                              <div class="modal-body text-left">
                                 <p>Eliminar el cupón <b class="text-danger">{{item.code}}</b></p>
                              </div>
                              <div class="modal-footer">
                                 <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                 <button class="btn btn-danger btn-sm" type="button" (click)="delete_data(item._id)" >Sí, eliminar!</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="card-footer">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
   </div>
</div>